<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=euc-kr" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="stylesheet" type="text/css" href="css/iCheck/all.css">
<link rel="stylesheet" type="text/css" href="css/admin.css">
<script
	src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<title>Favorite Music Admin Page</title>
</head>
<!-- login -->
<script type="text/javascript">
	function login() {
		var user_id = document.login3.j_username.value;
		var passwd = document.login3.j_password.value;
		if (user_id == "" || user_id == null) {
			alert("아이디를 다시 입력해 주세요");
			login3.getElementById("userid").focus();
		} else if (passwd == "" || passwd == null) {
			alert("비밀번호 다시 입력해 주세요");
			login3.getElementById("passwd").focus();
		} else {
			alert("완료");
			login3.submit();
		}
	}
</script>

<!--  video/195550.mp4 -->
<!-- Video -->
<body class="skin-blue">
<video id="movie" poster="/movie/music.png" preload="auto" autoplay loop autobuffer muted style="width: 1270px; height: 714px; display: inline; margin-left: 0px;" >
  <source src="file:///E|/upload/movie/1.mp4" type="video/mp4">
</video>
<div id ="box">
  <h1>M!Plan Media Admin Page</h1>
  <form name="login3" action="/test/main" method="get">
    <input type="text" name="user_id" id="user_id" placeholder="아이디 입력" />
    <input type="password" name="passwd" id="passwd" placeholder="비밀번호 입력" />
    <input type="submit" value="로그인" onclick="login()"  />
    
    <!--
			<div class="id">
				<input type="text" name="j_username" id="userid"
					placeholder="M!Plan 계정 (아이디)">
			</div>
			<div class="pass">
				<input type="password" name="j_password" id="passwd" placeholder="비밀번호">
			</div>
            -->
    
    <div class="pass">
      <label>
        <input type="checkbox" class="flat-red"/>
        로그인 상태 유지 </label>
    </div>
 
      <input type="button" value="계정찾기" onclick="login()"  />
      <input type="button" value="비밀번호찾기" onclick="login()"  />
 
    <div class="copy">
      <p>ⓒ M!Plan Lab! 1997~2015</p>
      <p>ⓒ VM! Media Contents Labs 2009~2015</p>
    </div>
  </form>
</div>
<script src="css/iCheck/icheck.min.js"></script> 
<script type="text/javascript">
      $(function () {
        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
          checkboxClass: 'icheckbox_minimal-blue',
          radioClass: 'iradio_minimal-blue'
        });
        //Red color scheme for iCheck
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
          checkboxClass: 'icheckbox_minimal-red',
          radioClass: 'iradio_minimal-red'
        });
        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
          checkboxClass: 'icheckbox_flat-green',
          radioClass: 'iradio_flat-green'
        });
      });
    </script>
</body>
</html>
